{% extends "base.html" %}

{% block title %}Edit Admin{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4 class="mt-2">Edit Admin</h4>
                </div>
                <div class="card-body px-4 py-4">

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form method="POST" action="{{ url_for('inv.edit_admin',org_uuid=org.uuid,id=admin.id) }}" class="form-horizontal">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" value="{{ admin.name }}" required>
                            <label for="name">Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ admin.phone_number }}" required>
                            <label for="phone_number">Phone number</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="email" name="email" value="{{ admin.email }}" required>
                            <label for="email">Email</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                        <select class="form-select" id="gender" name="gender" required>
                            <label for="gender">Gender</label>
                            <option value="Male" {% if admin.gender == 'Male' %}selected{% endif %}>Male</option>
                            <option value="Female" {% if admin.gender == 'Female' %}selected{% endif %}>Female</option>
                        </select>
                        <label for="gender">Gender</label>
                    </div>

                        <div class="form-floating mb-3">
                        <select class="form-select" id="role" name="role" required>
                            <label for="role">Role</label>
                            <option value="location_admin" {% if admin.role == 'location_admin' %}selected{% endif %}>Location Admin</option>
                            <option value="org_admin" {% if admin.role == 'org_admin' %}selected{% endif %}>Organization Admin</option>
                        </select>
                        <label for="position">Position</label>
                    </div>

                     {% if admin.role == 'location_admin' %}
                        <div class="form-floating mb-3">
                       <select id="location_id" name="location_id" class="form-select">
                        <label for="location_id">Assign location</label>
                           <option value="">-- Select Location --</option>
                            {% for loc in org_locations %}
                            <option value="{{ loc.id }}" {% if admin.location_id == loc.id %}selected{% endif %}>
                                {{ loc.name }}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="location">Location</label>

                        </div>
                        {% endif %}

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password" value="{{ admin.password }}">
                            <label for="password">Enter new Password</label>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-success w-100">Save Changes</button>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                         <a href="{{ url_for('inv.manage_admin', org_uuid=org.uuid) }}" class="btn btn-secondary w-100">Cancel</a>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-2">
                    <small>Powered by <a href="https://x.com/danwebit" target="_blank"
                            rel="noopener noreferrer">DanwebIT</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
