{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Set New Password</h4>
                </div>
                <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="POST", action="{{ url_for('inv.reset_password',token=token) }}">
                        {{ form.csrf_token }}
                        <div class="form-floating mb-3">
                            {{ form.password(class="form-control", placeholder="New Password") }}
                            <label for="password">{{ form.password.label }}</label>
                            {% if form.password.errors %}
                                <div class="text-danger">{{ form.password.errors[0] }}</div>
                            {% endif %}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.confirm_password(class="form-control", placeholder="Confirm New Password") }}
                            <label for="confirm_password">{{ form.confirm_password.label }}</label>
                            {% if form.confirm_password.errors %}
                                <div class="text-danger">{{ form.confirm_password.errors[0] }}</div>
                            {% endif %}
                        </div>
                        {{ form.submit(class="btn btn-primary w-100") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}